<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1595751866710-a6cb010fa20b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1611&q=80);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="container">
    <div class="card-deck mt-n5 mb-5 text-center">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>List of ingredients</h3>
          </div>
          <ul class="list-group list-group-flush">
            <% @cocktail.doses.each do |dose| %>
              <li class="list-group-item"><%= dose.ingredient.name %> | <%= dose.description  %><%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash-alt ml-2"></i><% end %></li>
            <% end %>
          </ul>
          <%= link_to 'Go back to the list', cocktails_path, class: 'btn btn-primary go-back-btn' %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>Add a new ingredient </h3>
          </div>
          <%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>Add a review</h3>
          </div>
        </div>
      </div>
    </div>
</div>


      <%# link_to 'Add an ingredient',  new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>





